#animated-text {
    opacity: 0; 
    animation: fadeInAnimation 2s ease forwards; 
}

@keyframes fadeInAnimation {
    from {
        opacity: 0; 
        transform: translateY(-20px); 
    }
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}

body {
    display: flex;
}

nav {
    order: 1; 
}

section {
    order: 2; 
}
